node_modules
npm-debug.log
dist
.git
.gitignore
.env
.env.*
!.env.example
README.md
.vscode
.idea
coverage
*.md
tests
.eslintrc.json
.prettierrc
nodemon.json
jest.config.js
docs
postman
.dockerignore
Dockerfile
docker-compose.yml
logs
uploads
*.log
